<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<head>
<meta charset="UTF-8"></meta>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<link rel="stylesheet" th:href="@{/css/bootstrap.min.version.2.css}" />
<link rel="stylesheet" th:href="@{/css/header.css}" />
<link rel="stylesheet" th:href="@{/css/styles2.css}" />

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">



</head>

<body>

	<div th:replace="fragments/header :: header_user"></div>


	<form method=post th:action="@{/document/CrearCarteraRecibo}"
		th:object="${document}">
		<div class="row">


			<div class="form-group col-sm-6" th:object="${rate}">

				<h5>Tasa y Plazo</h5>


				<div class="row">

					<div class="form-group col-sm-6">
						<label>Tipo de tasa </label>
					</div>

					<div class="form-group col-sm-3">
						<select class="form-control itemselect" th:field="*{RateType}">
							<option th:each="rt: ${listRateType}" th:value="${rt.idRateType}"
								th:text="${rt.rateName}" th:selected="(${rt}==*{RateType})"></option>
						</select>
					</div>

					<div class="form-group col-sm-3"></div>
				</div>


				<div th:if="${tasa_factura==1}">
					<div class="row">
						<div class="form-group col-sm-6">
							<label>(DA)Dias por año</label>
						</div>
						<div class="form-group col-sm-6">
							<select th:field="*{days}">
								<option th:value="360">360 dias</option>
								<option th:value="365">365 dias</option>
							</select>


						</div>
					</div>

					<div class="row">
						<div class="form-group col-sm-6">
							<label>(P)Plazo de taza</label>
						</div>
						<div class="form-group col-sm-6">
							<select class="form-control itemselect" th:field="*{TermRate}">
								<option th:each="tr: ${listTermRate}"
									th:value="${tr.idTermRate}" th:text="${tr.termName}"
									th:selected="(${tr}==*{TermRate})"></option>
							</select>

						</div>

					</div>

					<div class="row">
						<div class="form-group col-sm-6">
							<label>(TE) Tasa Efectiva</label>
						</div>
						<div class="form-group col-sm-6">

							<input type="text" class="form-control item"
								th:field="*{rateNominal}" required min="1"  pattern="[0-9]+"/>


						</div>
					</div>

					<div class="row">
						<div class="form-group col-sm-6">
							<label>(FD) Fecha de Descuento</label>
						</div>
						<div class="form-group col-sm-6">

							<input type="date" class="form-control itemselect"
								th:field="*{discountDate}"
								th:errorclass="'form-control alert-danger'" required />


						</div>
					</div>
				</div>


				<div th:if="${tasa_factura==2}">
					<div class="row">
						<div class="form-group col-sm-6">
							<label>(DA)Dias por año</label>
						</div>
						<div class="form-group col-sm-6">
							<select th:field="*{days}">
								<option th:value="360">360 dias</option>
								<option th:value="365">365 dias</option>
							</select>


						</div>
					</div>

					<div class="row">
						<div class="form-group col-sm-6">
							<label>(PD) Plazo de Tasa</label>
						</div>
						<div class="form-group col-sm-6">
							<select class="form-control itemselect" th:field="*{TermRate}">
								<option th:each="tr: ${listTermRate}"
									th:value="${tr.idTermRate}" th:text="${tr.termName}"
									th:selected="(${tr}==*{TermRate})"></option>
							</select>

						</div>

					</div>

					<div class="row">
						<div class="form-group col-sm-6">
							<label>(TN) Tasa Nominal</label>
						</div>
						<div class="form-group col-sm-6">

							<input type="text" class="form-control item"
								th:field="*{rateNominal}" required min="1" pattern="[0-9]+" />


						</div>
					</div>

					<div class="row">
						<div class="form-group col-sm-6">
							<label>(PC) Período de Capital</label>
						</div>
						<div class="form-group col-sm-6">
							<select class="form-control itemselect"
								th:field="*{termRateCapital}">
								<option th:each="tc: ${listTermRateCapital}"
									th:value="${tc.idTermRate}" th:text="${tc.termName}"
									th:selected="(${tc}==*{termRateCapital})" required></option>
							</select>

						</div>

					</div>

					<div class="row">
						<div class="form-group col-sm-6">
							<label>(FD) Fecha de Descuento</label>
						</div>
						<div class="form-group col-sm-6">

							<input type="date" class="form-control itemselect"
								th:field="*{discountDate}"
								th:errorclass="'form-control alert-danger'" required />


						</div>

					</div>
				</div>


			</div>

			<div class="form-group col-sm-6">


				<h5>Datos del Recibo por Honorarios</h5>

				<div class="row">
					<div class="form-group col-sm-6">
						<label>(FE) Fecha de Emisión</label>
					</div>
					<div class="form-group col-sm-6">

						<input type="date" class="form-control item"
							th:field="*{dateOfIssue}" required />

					</div>

				</div>

				<div class="row">
					<div class="form-group col-sm-6">
						<label>(FP) Fecha de Pago</label>
					</div>
					<div class="form-group col-sm-6">

						<input type="date" class="form-control item"
							th:field="*{paymentDate}" required />
					</div>
				</div>

				<div class="row">
					<div class="form-group col-sm-6">
						<label>(TR) Total a Recibir</label>
					</div>
					<div class="form-group col-sm-6">
						<input type="text" class="form-control item"
							th:field="*{nominalValue}" required min="1" pattern="[0-9]+"/>
					</div>

				</div>

				<div class="row">
					<div class="form-group col-sm-6">
						<label>(Rt) Retención</label>
					</div>
					<div class="form-group col-sm-6">

						<input type="text" class="form-control item"
							th:field="*{retention}" required pattern="[0-9]+"/>

					</div>
				</div>





			</div>
		</div>





		<button type="submit" class="btn btn-default"
			style="position: absolute; top: 120%;">Agregar</button>
	</form>


	<div class="row">
		<div class="form-group col-sm-6">
			<form th:action="@{/document/registrarCostosInicialesCarteraRecibo}"
				method="post" th:object="${cost}">
				<h5>Costo Iniciales</h5>

				<div class="row">
					<div class="form-group col-sm-6">
						<label for="email">Motivo</label>
					</div>
					<div class="form-group col-sm-6">
						<select class="form-control itemselect" th:field="*{ReasonCi}">
							<option th:each="r: ${listReasonCi}" th:value="${r.idReasonCi}"
								th:text="${r.name}" th:selected="(${r}==*{ReasonCi})"></option>
						</select>
					</div>
				</div>


				<div class="row">
					<div class="form-group col-sm-6">
						<label for="pwd">Monto</label>
					</div>
					<div class="form-group col-sm-6">
						<input type="text" class="form-control item" th:field="*{amount}" pattern="[0-9]+"/>
					</div>
				</div>

				<button type="submit" class="btn btn-default">Agregar</button>

				<table class="table table-striped table-hover">
					<thead class="table-head">
						<tr>
							<th class="text-center">Motivo</th>
							<th class="text-center">Monto</th>
							<th class="text-center">Operacion</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ci: ${listCostInitials}">
							<td style="text-align: center" th:text="${ci.reasonCi.name}"></td>
							<td style="text-align: center" th:text="${ci.amount}"></td>
							<td style="text-align: center"><a
								th:href="@{/document/eliminarCarteraRecibo?id=}+${ci.idRef}"
								class="comment" title="Comment" data-toggle="tooltip"><i
									class="material-icons">&#xe872;</i></a></td>


						</tr>
					</tbody>
				</table>

			</form>
		</div>

		<div class="form-group col-sm-6">

			<form th:action="@{/document/registrarCostosFinalesCarteraRecibo}"
				method="post" th:object="${cost}">

				<h5>Costo finales</h5>



				<div class="row">
					<div class="form-group col-sm-6">
						<label for="email">Motivo</label>
					</div>
					<div class="form-group col-sm-6">
						<select class="form-control itemselect" th:field="*{ReasonCf}">
							<option th:each="r: ${listReasonCf}" th:value="${r.idReasonCf}"
								th:text="${r.name}" th:selected="(${r}==*{ReasonCf})"></option>
						</select>

					</div>

				</div>


				<div class="row">
					<div class="form-group col-sm-6">
						<label for="pwd">Monto</label>
					</div>
					<div class="form-group col-sm-6">
						<input type="text" class="form-control item" th:field="*{amount}" pattern="[0-9]+"/>
					</div>
				</div>

				<button type="submit" class="btn btn-default">Agregar</button>

				<table class="table table-striped table-hover">
					<thead class="table-head">
						<tr>
							<th class="text-center">Motivo</th>
							<th class="text-center">Monto</th>
							<th class="text-center">Operacion</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cf: ${listCostFinals}">
							<td style="text-align: center" th:text="${cf.reasonCf.name}"></td>
							<td style="text-align: center" th:text="${cf.amount}"></td>
							<td style="text-align: center"><a
								th:href="@{/document/eliminarCarteraRecibo?id=}+${cf.idRef}"
								class="comment" title="Comment" data-toggle="tooltip"><i
									class="material-icons">&#xe872;</i></a></td>

						</tr>
					</tbody>
				</table>

			</form>
		</div>
	</div>


	<div th:if="${resultados ==0}"></div>

<div class="registration-form">
	<div th:if="${resultados ==1}"
		style="position: absolute; top: 125%; left: 10%;">

		
			<h5>Resultados</h5>
			<form th:object="${purse}">
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="email">(VR) Valor Total a Recibir por la
							cartera</label>
					</div>
					<div class="form-group col-sm-6">
						<input type="text" class="form-control item"
							th:field="*{totalRecivedAmount}" required />
					</div>

					<div class="form-group col-sm-6">
						<label for="email">(TCEA) Tasa de Coste Efectiva Anual de
							la cartera(%)</label>
					</div>
					<div class="form-group col-sm-6">
						<input type="text" class="form-control item" th:field="*{TCEA}"
							required />
					</div>
				</div>
			</form>

		<form th:object="${document}">

			<table class="table table-striped table-hover">
				<thead class="table-head">
					<tr>
						<th class="text-center">Fecha de Giro</th>
						<th class="text-center">Valor Nom.</th>
						<th class="text-center">Fecha venc.</th>
						<th class="text-center">Dias</th>
						<th class="text-center">Retención</th>
						<th class="text-center">TE%</th>
						<th class="text-center">d%</th>
						<th class="text-center">Descuento</th>
						<th class="text-center">Coste ini.</th>
						<th class="text-center">Coste fin.</th>
						<th class="text-center">Val. Neto</th>
						<th class="text-center">Valo. Rec.</th>
						<th class="text-center">Val. Ent.</th>
						<th class="text-center">TCEA%</th>



					</tr>
				</thead>
				<tbody>
					<tr th:each="l: ${listCarteraFactura}">
						<td style="text-align: center"
							th:text="${ #dates.format(l.dateOfIssue, 'dd-MM-yyyy')} "></td>
						<td style="text-align: center" th:text="${l.nominalValue}"></td>
						<td style="text-align: center"
							th:text="${ #dates.format(l.paymentDate, 'dd-MM-yyyy')}"></td>
						<td style="text-align: center" th:text="${l.days}"></td>
						<td style="text-align: center" th:text="${l.retention}"></td>
						<td style="text-align: center"
							th:text="${#numbers.formatDecimal(l.teD * 100,1,7,'COMMA') + '%'}"></td>
						<td style="text-align: center"
							th:text="${#numbers.formatDecimal(l.discountedRate * 100,1,7,'COMMA') + '%'} "></td>
						<td style="text-align: center"
							th:text="${#numbers.formatDecimal(l.daysDiscount * 100,1,7,'COMMA') + '%'}"></td>
						<td style="text-align: center" th:text="${l.totalInitialCost}"></td>
						<td style="text-align: center" th:text="${l.totalFinalCost}"></td>
						<td style="text-align: center"
							th:text="${#numbers.formatDecimal(l.netValue,1,2,'COMMA')}"></td>
						<td style="text-align: center"
							th:text="${#numbers.formatDecimal(l.recivedValue ,1,2,'COMMA')}"></td>
						<td style="text-align: center"
							th:text="${#numbers.formatDecimal(l.valueTotal  ,1,2,'COMMA')}"></td>
						<td style="text-align: center"
							th:text="${#numbers.formatDecimal(l.TCEA * 100,1,7,'COMMA') + '%'}"></td>
					</tr>
				</tbody>
			</table>


		</form>

	</div>
	</div>
	<form th:action="@{/document/CarteraRecibo}" method="post">
		<button type="submit" class="btn btn-default"
			style="position: absolute; top: 24.5%; left: 40%;">Cambiar</button>
	</form>


	<form th:action="@{/document/irRegistrarCarteraRecibo}" method="post">
		<button type="submit" class="btn btn-default"
			style="position: absolute; top: 120%; left: 20%;">Nuevo</button>
	</form>


</body>
</html>