<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<head>
<meta charset="UTF-8"></meta>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/duenoStyles.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" th:href="@{/css/aos.css}" />

</head>

<body>
	<div class="registration-form" data-aos="fade-right">

		<form th:action="@{/user/registrar}" method="post" th:object="${user}" >

			<div class="form-icon-c">
				<img th:src="@{/imagenes/icon-dueno.png}">
			</div>



			<div class="row">
				<div class="form-group col-sm-6">
					<input type="text" class="form-control item" placeholder="Nombre"
						th:field="*{name}" th:errorclass="'form-control alert-danger'" />
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>

				</div>

				<div class="form-group col-sm-6">
					<input type="text" class="form-control item" placeholder="Apellido"
						th:field="*{lastName}" th:errorclass="'form-control alert-danger'" />
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>

				</div>
			</div>

			<div class="form-group">
				<input type="text" class="form-control item" placeholder="email"
					th:field="*{email}" th:errorclass="'form-control alert-danger'" />
				<small class="form-text text-danger"
					th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>

			</div>
			<div class="form-group">
				<input type="password" class="form-control item"
					placeholder="contraseña" th:field="*{password}"
					th:errorclass="'form-control alert-danger'" /> <small
					class="form-text text-danger"
					th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>

			</div>

				<div class="form-group">
				<input type="text" class="form-control item" placeholder="phoneNumber"
					th:field="*{phoneNumber}"      th:errorclass="'form-control alert-danger'" />
				<small
					class="form-text text-danger"
					th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></small>

			</div>
			
				<div class="form-group ">

					<select class="form-control itemselect"
						th:field="*{Company.idCompany}">
						<option th:each="c: ${listCompany}" th:value="${c.idCompany}"
							th:text="${c.compayName}"
							th:selected="(${c.idCompany}==*{Company.idCompany})">
						</option>
					</select>

				</div>
				
				<div class="row">
				<div class="form-group col-sm-6">
					<select class="form-control itemselect"
						th:field="*{Type.idType}">
						<option th:each="t: ${listType}" th:value="${t.idType}"
							th:text="${t.name}"
							th:selected="(${t.idType}==*{Type.idType})">
						</option>
					</select>

				</div>

				<div class="form-group col-sm-6">
					<input type="text" class="form-control item" placeholder=""
						th:field="*{type_text}" th:errorclass="'form-control alert-danger'" />
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('type_text')}" th:errors="*{type_text}"></small>

				</div>
			</div>
				

			<button type="submit" class="btn btn-block create-account">Crear
				Cuenta</button>
			<a class="btn btn-block" th:href="@{/pantalla/inicio}">Volver</a>
		</form>
	</div>

	<script th:src="@{/js/aos.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.js}"></script>
	<script th:src="@{/js/glightbox.js}"></script>
	<script th:src="@{/js/isotope.pkgd.js}"></script>
	<script th:src="@{/js/validate.js}"></script>
	<script th:src="@{/js/swiper-bundle.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>


</body>
</html>